
html, body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
}

.pihatu-grid {
    width: 100%;
}

#main {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#omnibox1 {
    background-color: white;
    border-radius: 25px;
}

.button-size {
    width: 30px;
}

.omnibox-size{
    width: calc(100vw - 300px);
}

#webview-header {
    overflow-y: hidden;
    overflow-x: hidden;
}
.demo-header{
    height: 61px;
}
webview {
    width: 100%;
    height: 100%;
}

#views{
    position:relative
}

.page{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:calc(100vh - 160px)
}

#tabs-bar {
    display: flex;
    background-color: #f1f1f1;
    padding-left: 5px;
}

.tab {
    padding: 5px 10px;
    margin-right: 5px;
    border: 1px solid #ddd;
    border-bottom: none;
    cursor: pointer;
}

.tab.active {
    background-color: white;
}

#tabs-container {
    display: flex;
    background-color: #f1f1f1;
    padding-left: 5px;
}

/* #newTab {
    
    margin-left: auto;
} */

#newTab {
    padding: 5px 10px;
    border: 1px solid #ddd;
    background-color: #f1f1f1;
    cursor: pointer;
}

.close-tab {
    cursor: pointer;
    padding-left: 10px;
    color: #666;
}

.close-tab:hover {
    color: #000;
}

.tab-content {
    display: none;
    width: 100%;
    height: 100%;
}

.tab-content.active {
    display: block;
}
